body {
  font-family: Arial, sans-serif;
  background: #029bc1;
  margin: 0;
  padding: 40px;
}
.judul {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
  margin-top: -30px;
}
.container-utama {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2 px 0;
}
.container-utama img {
  width: 360px;
  height: auto;
  padding: 5px;
  margin-top: -40px;
}
.logo-utama img:hover {
  transform: scale(1.05);
}
.container-info {
  width: 90%;
  max-width: 1000px;
  margin: 40px auto;
  padding: 25px;
  background: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.container-info img {
  width: 300px;
  height: 220px;
  object-fit: cover;
  border-radius: 15px;
}

.logo-container {
  text-align: center;
}

.logo-teks {
  margin-bottom: 20px;
  font-size: 27px;
}

.logo-container img {
  width: 350px; /* ukuran logo */
  height: 350px; /* harus sama dengan width */
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #fff; /* opsional */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.teks {
  flex: 1;
  position: relative;
  top: -10px;
}

.teks h2 {
  margin-bottom: 10px;
  color: #333;
}

.teks p {
  line-height: 1.8;
  color: #000000;
  text-align: justify;
}

.video-container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.video-container video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.persona-container {
  width: 90%;
  max-width: 1000px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.persona-teks {
  margin: 0 0 10px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.persona-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family:
    "Montserrat",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}
/* Responsive */
@media (max-width: 768px) {
  .container-info {
    flex-direction: column;
    text-align: center;
  }

  .container-info img {
    width: 100%;
    height: auto;
  }

  .teks p {
    text-align: center;
  }
}
